@import "tailwindcss";

.logo{
  font-family: "Borel", cursive;
  font-size: 30px;
  margin-top: 25px;
}
.hero-heading{
     font-family: "Meow Script", cursive;
}
.sub-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: normal;
    font-weight: 300;
}
.hero-text{
    font-weight: 100;
}
.hero-img{
  width: 700px;
}
.heroBg{
  margin-top: 0;
  height: 600px;
  width: 500px;
}