@import "tailwindcss";

.logo{
  font-family: "Borel", cursive;
  margin-top: 26px;
}
.hero-heading{
     font-family: "Meow Script", cursive;
}
.sub-heading{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    font-weight: 300;
}
.hero-text{
    font-weight: 100;
}
.hero-img{
  width: 700px;
}
.heroBg{
  margin-top: 0;
  height: 600px;
  width: 500px;
}
html {
  scroll-behavior: smooth;
}

/* Optional: slightly slow down the feel on supported browsers */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (min-width:768px) {
  .cups{
    position: relative;
    bottom: 130px;
  }
}